body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background: #141414;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
}

.showImg {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.castCard {
  border-radius: 10px;
  background: #303030;
  padding: 10px;
  text-align: center;
  width: 10%;
  height: 60%;
}

.castCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #46b9b169;
}

.castCard img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.loading {
  color: #00c3ff;
  font-weight: bold;
}

.error {
  color: #ff4c4c;
  font-weight: bold;
}

a {
  color: #00c3ff;
  text-decoration: none;
}

#cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

#details {
  padding: 15px;
  background-color: #46b9b180;
  border-radius: 10px;
  margin-top: 20px;
}

#details img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#cast {
  background: #a0a0a012;
  padding: 15px;
  border-radius: 10px;
}
