body {
  font-family: Arial, sans-serif;
  padding: 0px;
  background: #141414;
  color: white;
  margin: 0px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 6px;
  border: none;
  background: #1f1f1f;
  color: white;
}

input::placeholder {
  color: #aaa;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #1f1f1f;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #46b9b169;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin-top: 10px;
  font-size: 16px;
}

.loading {
  color: #00c3ff;
  font-weight: bold;
}

.error {
  color: #ff4c4c;
  font-weight: bold;
}

header {
  background: linear-gradient(
    180deg,
    rgba(70, 185, 178, 1) 0%,
    rgba(20, 20, 20, 0.5) 100%
  );
  border-radius: 10px;
  padding: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  padding: 8px 15px;
  border-radius: 10px;
}

ul li a:hover,
ul select:hover {
  background-color: #46b9b150;
  color: #46b9b1;
}

nav a {
  color: #a0a0a0;
  text-decoration: none;
}

.logo span {
  font-size: 36px;
  color: #46b9b1c3;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.footer-logo span {
  font-size: 28px;
  color: #46b9b1c3;
}

.footer-logo {
  font-size: 16px;
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #141414;
  border-radius: 10px;
  padding: 15px;
}

ul {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

footer {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(70, 185, 178, 1) 100%
  );
}

footer nav {
  background: none;
}

footer ul {
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: 16px;
  background: #a0a0a012;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.adsContainer {
  width: 50%;
  margin: 20px auto;
}

#ads {
  margin-top: 20px;
  height: 450px;
  width: 100%;
  background: #14141460;
  border-radius: 10px;
  /*  */
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.ad-card {
  position: relative;
  min-width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.ad-card:hover {
  cursor: pointer;
}
.ad-card h2 {
  margin: 0;
  font-size: 48px;
  color: #00ffee;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.ad-card p {
  font-size: 20px;
}

.adsBtn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 238, 1) 0%,
    rgba(20, 20, 20, 0.5) 100%
  );
}

.adsBtn:hover {
  cursor: pointer;
  opacity: 0.7;
  color: black;
}

#showCategories {
  padding: 5px 15px;
  color: #46b9b1c3;
  background: #141414;
  border: none;
  font-size: 18px;
  border-radius: 8px;
}

.copyrights-stroke {
  text-align: center;
  margin: 0;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.pagination button {
  padding: 8px 14px;
  font-size: 15px;
  border: none;
  background-color: #46b9b1;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #dcdcdc;
}

.selected {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
